$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-width: 768px;
$desktop-width: 1200px;

$red: rgb(154, 40, 41);
$gray: rgb(240, 240, 240);

$text-color: rgb(67, 66, 66);
$header-background: rgb(245, 245, 247);
$nav-link-color-hover: $red;
$button-background: $red;
$production-background: $gray;
$marks-background: $gray;
$about-us-background: rgb(65, 69, 70);
$contacts-background: $gray;
$contacts-text-color: rgb(100, 100, 100);
$contacts-th-color: $red;
$testing-background: rgb(132, 19, 40);

$site-font-size: 18px;
$partner-subtitle-font-size: 24px;
