$red: rgb(154, 40, 41);
$gray: rgb(240, 240, 240);

$text-color: rgb(67, 66, 66);
$header-background: rgb(245, 245, 247);
$nav-link-color-hover: $red;
$button-background: $red;
$button-backgrpund-hover: rgb(184, 104, 105);
$production-background: $gray;
$marks-background: $gray;

$site-font-size: 18px;
$block-title-font-size: 36px;
$partner-subtitle-font-size: 24px;
