.about-us {
  padding-top: 65px;
  padding-bottom: 80px;

  color: #ffffff;

  background-color: $about-us-background;
  background-image: url("../img/about-us-bg-1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-us-bg-2x.jpg");
    background-size: 1920px auto;
  }
}

.about-us__wrapper {
  width: 600px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 36px;
  font-weight: 900;
  color: $red;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-us__text {
  margin: 0;
  margin-bottom: 23px;

  &:last-of-type {
    margin-bottom: 35px;
  }
}

.about-us__button {
  @include reset-link;

  display: inline-block;
}
