.about-us {
  padding-top: 25px;
  padding-bottom: 40px;

  color: #ffffff;
  text-align: center;

  background-color: $about-us-background;
  background-image: url("../img/about-us-bg-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-us-bg-mobile-2x.jpg");
    background-size: 768px auto;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 17px;

  font-size: 28px;
  font-weight: 900;
  color: $red;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.about-us__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  text-align: left;

  &:last-of-type {
    margin-bottom: 38px;
  }
}

.about-us__button {
  @include reset-link;

  display: inline-block;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 65px;
    padding-bottom: 70px;

    background-image: url("../img/about-us-bg-tablet-1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-us-bg-tablet-2x.jpg");
      background-size: 1200px auto;
    }
  }

  .about-us__wrapper {
    margin-left: 40px;
    width: 600px;

    text-align: left;
  }

  .about-us__title {
    font-size: 36px;
  }

  .about-us__text {
    margin-bottom: 24px;

    font-size: 18px;
    line-height: 1.2;

    &:last-of-type {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us {

    padding-bottom: 77px;

    text-align: left;

    background-image: url("../img/about-us-bg-1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-us-bg-2x.jpg");
      background-size: 1920px auto;
    }
  }

  .about-us__wrapper {
    margin-left: 0;
  }

  .about-us__title {
    margin-bottom: 15px;
  }

  .about-us__text {
    margin-bottom: 24px;

    font-size: 18px;

    &:last-of-type {
      margin-bottom: 35px;
    }
  }
}
