.advantages {
  padding-top: 35px;
  padding-bottom: 170px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  text-align: center;
}

.advantages__list {
  @include reset-list;
}

.advantages__subtitle {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.advantages__text {
  margin: 0;

  hyphens: auto;
}

.advantages__logo {
  margin: 20px auto;

  width: 150px;
  height: 150px;
}

.advantages__image {
  position: relative;
  width: 100%;
  height: auto;

  opacity: 0;
  transform: translateY(-35px);
  transition: all 0.8s;

  &--no-js {
    opacity: 1;
  }
}

.advantages__image--show {
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 55px;
    padding-bottom: 206px;

    background-image: url("../img/advantages-bg-1x.jpg");
    background-repeat: no-repeat;
    background-position: center 151%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantages-bg-2x.jpg");
      background-size: 686px auto;
    }
  }

  .advantages__title {
    margin-bottom: 85px;
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    position: relative;
    padding-left: 160px;
    margin-bottom: 110px;
    width: 420px;

    &:not(:nth-child(2n)) {
      margin-right: 20px;
    }
  }

  .advantages__logo {
    position: absolute;
    top: 13px;
    left: 0;

    width: 150px;
    height: 150px;
    margin: 0;
  }

  .advantages__subtitle {
    margin-bottom: 20px;

    text-align: left;
  }
}
