.advantages {
  padding-top: 55px;
  padding-bottom: 206px;

  background-image: url("../img/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 151%;
}

.advantages__title {
  margin: 0;
  margin-bottom: 85px;

  text-align: center;
}

.advantages__list {
  @include reset-list;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  padding-left: 160px;
  margin-bottom: 110px;
  width: 420px;

  &:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

.advantages__logo {
  position: absolute;
  top: 13px;
  left: 0;

  width: 150px;
  height: 150px;
}

.advantages__image {
  width: 100%;
  height: auto;

  opacity: 0;
}

.advantages__image--show {
  animation: show 0.9s;
  opacity: 1;
}

@keyframes show {
  0% {
    transform: perspective(150px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(150px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(150px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(150px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(150px);
  }
}

.advantages__subtitle {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.advantages__text {
  margin: 0;

  hyphens: auto;
}
