.advantages {
  padding-top: 55px;
  padding-bottom: 206px;

  background-image: url("../img/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 151%;
}

.advantages__title {
  margin: 0;
  margin-bottom: 85px;

  text-align: center;
}

.advantages__list {
  @include reset-list;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  padding-left: 160px;
  margin-bottom: 110px;
  width: 420px;

  &:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

.advantages__logo {
  position: absolute;
  top: 13px;
  left: 0;

  width: 150px;
  height: 150px;
}

.advantages__image {
  position: relative;
  width: 100%;
  height: auto;

  opacity: 0;
  transform: translateY(-35px);
  transition: all 0.8s;

  &--no-js {
    opacity: 1;
  }
}

.advantages__image--show {
  // animation: show 0.9s;
  transform: translateY(0);
  opacity: 1;
}

// @keyframes show {
//   0% {
//     transform: translateY(-20px);
//     transition-timing-function: ease-in;
//     opacity: 1;
//   }
//
//   40% {
//     transform: translateY(-15px);
//     transition-timing-function: ease-in;
//     // z-index: 100;
//   }
//
//   60% {
//     transform: translateY(-10px);
//     // opacity: 1;
//   }
//
//   80% {
//     transform: translateY(-5px);
//     // z-index: 100;
//   }
//
//   100% {
//     transform: translateY(0);
//   }
// }

.advantages__subtitle {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.advantages__text {
  margin: 0;
  width: 420px;

  hyphens: auto;
}
