.content-wrapper {
  padding: 0 15px;
  min-width: 290px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 10px;
    width: 748px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1180px;
  }
}
