.contacts-list {
  @include reset-list;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contacts-list__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  margin-bottom: 25px;
  width: 295px;

  font-size: 16px;
  line-height: 21px;
  text-align: left;

  a {
    @include reset-link;
  }
}

.contacts-list__title {
  margin-bottom: auto;
  padding: 10px 0;

  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: $contacts-th-color;
}

.contacts-list__text {
  padding: 5px 0;
}

@media (min-width: $tablet-width) {
  .contacts-list__item {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list__item {
    margin-bottom: 0;
  }
}
