.contacts {
  padding-top: 55px;
  padding-bottom: 60px;

  text-align: center;
  color: $contacts-text-color;

  background-color: $contacts-background;
}

.contacts__map {
  margin-top: 25px;
  margin-bottom: 50px;
  height: 380px;
}

.contacts__table {
  border-collapse: collapse;

  text-align: left;

  th {
    width: 295px;
    padding: 10px 0;

    font-size: 22px;
    text-transform: uppercase;
    color: $contacts-th-color;
  }

  td {
    padding: 5px 0;

    font-size: 16px;
    line-height: 21px;
  }
}
