.contacts {
  padding-top: 25px;
  padding-bottom: 5px;

  text-align: center;
  color: $contacts-text-color;

  background-color: $contacts-background;
}

.contacts__map {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 380px;

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 1180px;
    height: 380px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 45px;
  }

  .contacts__map {
    margin-top: 40px;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .contacts__map {
    margin-top: 27px;
    margin-bottom: 45px;
  }
}
