.marks {
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: $marks-background;
  background-image: url("../img/marks-bg.jpg");
}

.marks__title {
  margin: 0;
  margin-bottom: 35px;

  text-align: center;
}

.marks__image {
  margin-bottom: 20px;

  text-align: center;
}

.marks__list {
  @include reset-list;
}

.marks__item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.marks__text {
  margin: 0;
  margin-top: 25px;

  font-size: 16px;
  hyphens: auto;
  text-align: left;
}

.marks__name {
  font-weight: 700;

  &--up {
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .marks {
    padding-top: 65px;
    padding-bottom: 118px;
  }

  .marks__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .marks__title {
    margin-bottom: 55px;
  }

  .marks__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding: 0 45px;
    width: 490px;
  }

  .marks__text {
    width: 490px;

    font-size: 18px;
    hyphens: none;
  }
}

// .marks__item {
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: column;
//   align-items: center;
//
//   &:not(:last-child) {
//     margin-bottom: 75px;
//   }
// }
