.news {
  position: relative;
  padding-top: 50px;
  margin-bottom: 40px;

  text-align: center;

  background-image: url("../img/news-bg-1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/news-bg-2x.jpg");
    background-size: 272px auto;
  }

  .content-wrapper {
    position: relative;
  }
}

.news__title {
  margin: 0;
  margin-bottom: 25px;

  text-align: center;
}

.news__wrapper {
  margin: 0 auto;
  width: 320px;

  overflow: hidden;
}

.news__button {
  @include reset-link;

  display: inline-block;
  margin-bottom: 300px;
  padding: 14px 35px;

  color: #ffffff;

  &:active {
    color: $button-background;
  }

  &--next,
  &--prev {
    display: none;
  }
}

.news__list {
  @include reset-list;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-bottom: 45px;

  transition: transform 0.5s;
  will-change: transform;
}

.news__item {
  display: flex;

  width: 320px;
  flex-shrink: 0;

  &--exhibition .news-card__date {
    background-image: url("../img/news-1.jpg");
  }

  &--partner .news-card__date {
    background-image: url("../img/news-2.jpg");
  }

  &--new-year .news-card__date {
    background-image: url("../img/news-3.jpg");
  }
}

@media (max-width: $only-mobile-width) {
  .news .content-wrapper {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .news {
    padding-top: 43px;
  }

  .news__wrapper {
    margin: 0 auto;
    width: 680px;
  }

  .news__title {
    margin-bottom: 48px;
  }

  .news__item {
    width: 340px;
  }

  .news__button {
    margin-bottom: 310px;

    &--prev,
    &--next {
      display: block;
      position: absolute;
      z-index: 1;
      top: 370px;

      padding: 0;
      width: 21px;
      height: 39px;

      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      transform: translateZ(0);
      cursor: pointer;

      &:active::before,
      &:active::after {
        background-color: $red;
      }
    }

    &--prev::before,
    &--prev::after,
    &--next::before,
    &--next::after {
      content: "";
      position: absolute;

      width: 26px;
      height: 2px;

      background-color: rgb(67, 66, 66);
    }

    &--prev {
      left: 10px;

      &::before {
        top: 10px;
        left: -2px;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 10px;
        left: -2px;
        transform: rotate(45deg);
      }
    }

    &--next {
      right: 10px;

      &::before {
        top: 10px;
        right: -2px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 10px;
        right: -2px;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .news {
    padding-top: 78px;
    margin-bottom: 40px;
  }

  .news__title {
    margin-bottom: 45px;
  }

  .news__wrapper {
    width: 1152px;
  }

  .news__button {
    margin-bottom: 340px;

    &--prev,
    &--next {
      display: block;
      position: absolute;
      z-index: 1;
      top: 370px;

      padding: 0;
      width: 21px;
      height: 39px;

      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      transform: translateZ(0);
      cursor: pointer;

      &:active::before,
      &:active::after {
        background-color: $red;
      }
    }

    &--prev::before,
    &--prev::after,
    &--next::before,
    &--next::after {
      content: "";
      position: absolute;

      width: 26px;
      height: 2px;

      background-color: rgb(67, 66, 66);
    }

    &--prev {
      left: 0;

      &::before {
        top: 10px;
        left: -2px;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 10px;
        left: -2px;
        transform: rotate(45deg);
      }
    }

    &--next {
      right: 0;

      &::before {
        top: 10px;
        right: -2px;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 10px;
        right: -2px;
        transform: rotate(-45deg);
      }
    }
  }

  .news__list {
    margin-bottom: 75px;
  }

  .news__item {
    width: 384px;
  }
}
