.page-header {
  min-height: 667px;

  background-color: $header-background;
  background-image: url("../img/header-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.page-header__wrapper {
  margin-bottom: 70px;
  padding-top: 28px;
  padding-bottom: 20px;

  background-color: rgba(#ffffff, 0.9);

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.page-header__phone {
  @include reset-link;

  font-size: 24px;
  line-height: 45px;
  font-weight: 700;
  word-spacing: 6px;
}

.page-header__work-time {
  padding-left: 40px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  word-spacing: 3px;
}

.page-header__promo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.page-header__slogan {
  margin-bottom: 52px;
  width: 840px;

  font-family: "Magnolia Script", "Times", serif;
  font-size: 40px;
  line-height: 64px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: -6px;
}

.page-header__button {
  @include reset-link;

  margin-bottom: 50px;

  color: #ffffff;

  &:active {
    color: $button-background;
  }
}

.page-header__wrapper--fix {
  position: fixed;
  top: 0;
  z-index: 99;

  padding-top: 15px;
  padding-bottom: 0;
  width: 100%;

  background-color: #ffffff;

  .site-list__item--logo {
    order: -1;
  }

  .page-header__work-time {
    display: none;
  }

  .site-list {
    padding-top: 13px;
  }

  .site-list__link--logo {
    top: -13px;
    left: 0;

    padding: 0;
    width: 175px;
    height: auto;

    background: none;
  }

  .site-list__image--big {
    display: none;
  }

  .site-list__image--small {
    display: block;
  }
}
