.partners {
  padding-top: 35px;
}

.partners__title {
  margin: 0;
  margin-bottom: 18px;

  text-align: center;
}

.partners__list {
  @include reset-list;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.partners__item {
  display: flex;

  margin: 15px 5px;
  width: 135px;
  max-height: 110px;

  a {
    display: block;
    vertical-align: top;
    margin: auto;
  }
}

.partners__subtitle {
  position: relative;

  margin-bottom: 35px;
  text-align: center;

  h3 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;

    font-size: $partner-subtitle-font-size;
    font-weight: 900;

    background-color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: -15px;

    height: 1px;

    background-color: $red;
  }
}

@media (min-width: $desktop-width) {
  .partners {
    padding-top: 75px;
  }

  .partners__title {
    margin-bottom: 78px;
  }

  .partners__subtitle {
    margin-bottom: 45px;

    background-color: #ffffff;

    h3 {
      padding: 0 20px;
    }

    &::after {
      left: 0;
      right: 0;
      top: $partner-subtitle-font-size * 1.2 / 2;
    }
  }

  .partners__list:not(:last-child) {
    margin-bottom: 45px;
  }

  .partners__item {
    display: flex;

    margin: 0 8px;
    width: 220px;
    min-height: 140px;
    max-height: 200px;
  }
}
