.production-card {
  display: flex;

  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(#000000, 0.1);
}

.production-card__title {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  width: 230px;
  height: 154px;

  color: #ffffff;

  background-color: #000000;

  b {
    position: relative;
    z-index: 2;

    padding: 10px 13px;

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.production-card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  transition: opacity 0.3s;
}

.production-card__link {
  @include reset-link;

  &:hover .production-card__title {
    text-decoration: underline;
  }

  &:hover .production-card__image {
    opacity: 0.7;
  }
}

.production-card__list {
  @include reset-list;

  padding: 18px 25px 20px;
}

.production-card__item {
  position: relative;
  margin-bottom: 11px;

  &::before {
    content: "";
    position: absolute;
    left: -10px;
    top: $site-font-size / 2 - 2;
    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: $red;
  }
}
